@charset "UTF-8";

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('../fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('../fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-bold-webfont.woff2') format('woff2'),
    url('../fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Crimson';
  src:
    url('../fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

:root {
  --color-bg: #fbf7ff;
  --color-fg: rgba(51, 51, 51, 0.5);
  --color-fg-fix: rgba(51, 51, 51, 1);
  --color-light: rgba(51, 51, 51, 0.5);
  --color-light-2: rgba(51, 51, 51, 0.25);
  --color-alpha-fg: 51,51,51;
  --color-ecriture: rgba(95,0,194,0.5);
  --color-ecriture-fix: rgba(95,0,194, 1);
  --color-alpha-ecriture: 95,0,194;
  --color-fg-hover: rgba(0,0,0,0.996);
}

[data-theme="dark"] {
  --color-bg: #0e0020;
  --color-fg: rgba(219,219,219,0.5);
  --color-fg-fix: rgba(219,219,219,1);
  --color-light: rgba(100,100,100,1);
  --color-light-2: rgba(150,150,150,1);
  --color-alpha-fg: 219,219,219;
  --color-ecriture: rgba(207,160,255,0.5);
  --color-ecriture-fix: rgba(207,160,255,1);
  --color-alpha-ecriture: 207,160,255;
  --color-fg-hover: rgba(255,255,255,0.996);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  /* height: 100%; */
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--color-bg);
  background-color: var(--color-ecriture);
  text-shadow: none;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-ecriture);
  text-shadow: none;
}

body {
  width: 100%;
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.6rem;
}

.title {
  color: var(--color-ecriture-fix);
}

a {
  color: var(--color-ecriture-fix);
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1em, var(--color-ecriture-fix)), color-stop(0.1em, transparent));
  background-image: -moz-linear-gradient(bottom, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
  background-image: -o-linear-gradient(bottom, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
  background-image: linear-gradient(to top, var(--color-ecriture-fix) 0.1em, transparent 0.1em);
}

a:hover,
a:focus,
a:active {
  color: var(--color-bg);
  text-decoration: none;
  background: var(--color-ecriture-fix);
}

em {
  font-style: italic;
  color: var(--color-ecriture);
}

p {
  margin: 0;
  max-width: 66ch;
  /* margin: 1.62em 0; */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

hr {
  display: block;
  height: 2px;
  width: 38%;
  border: 0;
  border-top: 2px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

abbr[title] {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  color: var(--color-ecriture);
  background-position: 0 0;
  text-align: center;
  padding: 0.1em 0.1em;
  white-space: pre
}

abbr[title]:hover,
abbr[title]:focus {
  text-decoration: none;
  background: var(--color-ecriture);
  color: var(--color-bg);
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 62%;
  max-width: 400px;
  font-size: inherit;
  background: var(--color-ecriture);
  color: var(--color-bg);
  padding: 0.5em;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  font-style: normal;
}

.btn {
  z-index: 110;
  line-height: 1;
  display: inline-block;
  font-style: normal;
  position: fixed;
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  outline: none;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: var(--color-ecriture-fix);
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.btn--menu {
  top: 0;
  left: 0em;
}

.btn--dark {
  bottom: 0;
  right: 0;
}

.none {
  display: none;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5em;
  text-align: center;
  width: 100vw;
  height: 100vh;
  height: -moz-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: 100;
  background: var(--color-bg);
}

.menu p {
  max-width: 66ch;
}

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.enfer {
  margin: 0 2.5em;
}

pre {
  display: block;
  text-indent: none;
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1em;
  margin: 0;
  border-left: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  font-style: italic;
  color: var(--color-ecriture);
  max-width: 66ch;
}

code,
kbd {
  font-family: "Crimson", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  max-width: 100%;
  border: none;
  padding: 0;
  overflow-wrap: anywhere;
  word-break: break-all;
  word-wrap: break-word;
}

strong {
  font-weight: normal;
  text-decoration: line-through;
}

/* Range input */

.interface {
  z-index: 110;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: -moz-calc(38vh + 70px);
  height: calc(38vh + 70px);
  width: 2.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.interface--left {
    left: 0;
  }

.interface--left .level {
      margin-right: 0;
    }

.interface--right {
    right: 0;
  }

.interface--right .level {
      margin-left: 0;
    }

.level {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  position: relative;
  width: 100%;
  height: 38vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.range {
  position: absolute;
  z-index: 120;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* Source : MIT (Noah Blon) - https://codepen.io/noahblon/pen/OyajvN */

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 20px;
    width: 38vh;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: var(--color-light-2);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    border: 2px solid var(--color-light);
}

::-moz-range-track {
    height: 20px;
    background: var(--color-light-2);
}

::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border: 3px solid var(--color-light);
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw var(--color-ecriture-fix);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: var(--color-ecriture-fix);
}

::-ms-thumb {
    background: #fff;
    border: 2px solid var(--color-light);
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: var(--color-light-2);
    color: transparent;
    height: 20px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

input[type=range]::-moz-focus-outer {
  cursor: none;
  border: 0;
}

input[type=range]:focus {
  outline: none;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: -moz-calc(16px + (32 - 16) * ((100vw - 300px) / (1280 - 300)));
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media (min-width: 50em) { /* 800 px */
  .enfer {
    margin: 0 5em;
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 3.2rem;
  }
}
